*core
*~
*.swp
*.tar.bz2
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
